
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.pacotes-title{
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

body, div, form, input, select, textarea, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 14px;
    color:black;
    line-height: 22px;
}
h1{
    text-align: center;
}
.h1_title{
    position: absolute;
    margin: 0;
    font-size: 30px !important;
    color: #fff;
    z-index: 2;
}
.testbox { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 50px;
    background: #9ca9b1;
}
form {
    width: 55%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
 }
.banner {
    position: relative;
    height: 100px;
    background:#7fb1cf;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
input, textarea, select {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input {
    width: calc(100% - 10px);
    padding: 5px;
}
select {
    width: 98%;
    padding: 7px 0;
    background: transparent;
}
textarea {
    width: calc(100% - 1px);
    padding: 5px;
}
.item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
    color: #333;
}
.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #333;
    color: #333;
}
.item {
    position: relative;
    margin: 10px 0;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
}
.item i {
    right: 1%;
    top: 30px;
    z-index: 1;
}
[type="date"]::-webkit-calendar-picker-indicator {
    right: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
input[type="time"]::-webkit-inner-spin-button {
    margin: 2px 22px 0 0;
}
input[type=radio], input.other {
    display: none;
}
label.radio {
    position: relative;
    display: inline-block;
    margin: 5px 20px 10px 0;
    cursor: pointer;
}
.question span {
    margin-left: 30px;
}
label.radio:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
}
#radio_5:checked ~ input.other {
    display: block;
}
input[type=radio]:checked + label.radio:before {
    border: 2px solid #444;
    background: #444;
}
label.radio:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 5px;
    width: 7px;
    height: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}
input[type=radio]:checked + label:after {
    opacity: 1;
}
.btn-block {
    margin-top: 10px;
    text-align: center;
}
button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background:#1d61dd;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
button:hover {
    background-color: #1B223C;
    transition: .5s;
}

/* Reservas */

.pacotes{
    background: #9ca9b1;
    padding: 15px;
}
.pacotes .pacotes-card{
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}
.pacotes .card{
    width: 250px;
    height: 300px;
    background: rgb(206, 211, 206);
    border-radius: 24px 0;
    margin: 25px 25px;
    position: relative;
}
.pacotes .card-image{
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
    object-fit: cover;
}
.pacotes .card-content h1{
    font-size: 1rem;
}

.pacotes .card .card-tag-botton{
    position: absolute;
    left: 0;
    top: 160px;
    background: #1d61dd;
    border-radius: 0 8px 8px 0;
    padding: 0px 10px;
}
/* Final Reservas */

h3{
	text-align: center;
}
h1{	
	font-size: 40px;
	color: black;
	text-align: center;
}

/* Poltronas*/

ul{
	text-align: center ;
}
.linha{
	content: '';
	clear: both;
	display: table;
	align-items: center;
	height: 300px;
}
.onibus{
	display: inline-block;
	
}
.poltrona{
	padding: 10px;
	border: 3px solid black;
	background-color: green;
	font-family: Arial, Helvetica, sans-serif;
	
}
#livre{color: green;}
#reservado{color: red;}

/* Resposividade */


@media (min-width: 568px){
    .name-item, .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .name-item input, .city-item input {
        width: calc(50% - 20px);
    }
    .city-item select {
        width: calc(50% - 8px);
    }
    
}
@media (min-width: 5px){
    .h1_title{
        font-size: 20px;
    }

}

    