<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/estilo_poltronas.css" media="screen" />
    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Reservas de Poltronas - Viagem</title>
</head>
<body>
    <body>
        <div class="cabecalho">
            <h1>Reservas de Poltronas</h1>
        </div>

        <section id="pacotes" class="pacotes">
            <div class="pacotes-card">
                <div class="card">
                    <div class="card-tag card-tag-top">

                    </div>
                    <div class="card-tag card-tag-botton">
                        <button id="botao1" class="botao">Reservar</button>
                    </div>
                    <img class="card-image" src="imagens/onibus.jpg" alt="Guanabara"></a>
                    <div class="card-content">
                        <p>Reserva de passagem da Guanabara - Clicar em reservar</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-tag card-tag-top">

                    </div>
                    <div class="card-tag card-tag-botton">
                        <button id="botao2" class="botao">Reservar</button>
                    </div>
                    <img class="card-image" src="imagens/onibus02.jpg" alt="FretCar"></a>
                    <div class="card-content">
                        <p>Reserva de passagem da FretCar - Clicar em reservar</p>
                    </div>
                </div>
        </section>

        <div>
            <h3><span id="livre">Poltronas Livres</span></h3>
            <h3><span id="reservado">Poltronas Reservados</span></h3>
        </div>

        <div class="container1">
            <ul>
                <li class="onibus">
                    <div>
                        <span class="poltrona">01</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">02</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">03</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">04</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">05</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">06</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">07</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">08</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">09</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">10</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">11</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">12</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">13</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">14</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">15</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">16</span>
                    </div>
                </li>
            </ul>
            <hr>
            <ul>
                <li class="onibus">
                    <div>
                        <span class="poltrona">17</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">18</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">19</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">20</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">21</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">22</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">23</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">24</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">25</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">26</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">27</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">28</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">29</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">30</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">31</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">32</span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="container2">
            <ul>
                <li class="onibus">
                    <div>
                        <span class="poltrona">01</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">02</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">03</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">04</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">05</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">06</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">07</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">08</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">09</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">10</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">11</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">12</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">13</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">14</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">15</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">16</span>
                    </div>
                </li>
            </ul>
            <hr>
            <ul>
                <li class="onibus">
                    <div>
                        <span class="poltrona">17</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">18</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">19</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">20</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">21</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">22</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">23</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">24</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">25</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">26</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">27</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">28</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">29</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">30</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">31</span>
                    </div>
                </li>
                <li class="onibus">
                    <div>
                        <span class="poltrona">32</span>
                    </div>
                </li>
            </ul>
        </div>

        <script>
            $(document).ready(function () {
                $(".container1").hide();
                $(".poltrona").click(
                    function () {
                        $(this).css("background-color", "red");
                    });
                $(".poltrona").dbclick(function () {
                    $(this).css("background-color", "green");

                });
            });
            $(document).ready(function () {
                $("#botao1").on({
                    click: function () {
                        $(".container1").show();
                    }
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $(".container2").hide();
                $(".poltrona").click(
                    function () {
                        $(this).css("background-color", "red");
                    });
                $(".poltrona").dbclick(function () {
                    $(this).css("background-color", "green");

                });
            });
            $(document).ready(function () {
                $("#botao2").on({
                    click: function () {
                        $(".container2").show();
                    }
                });
            });
        </script>
    </body>

</html>
